{% extends "home_base.html" %}
{% block page %}
  <h2>Welcome to alpinklubben</h2>
  <p>Here you can rent ski packages and buy lift cards for our lifts.</p>
  <p>The ski resort is located in the most wild and beautiful parts of the Norwegian mountains</p>
  <h3>Location of ski resort</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var location = {lat:  66.864372, lng: 15.928766};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoHiWp5M_SdtQpqdiMj3q_2Q3h6dcTuOM&callback=initMap">
    </script>
{% endblock %}